*{
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
		
}
.menu-fixed{
	position: fixed;
	z-index:1000;
	background:#7DCEA0;
	margin-bottom:10px;
	width:100%;
	max-width:2000px;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
	
}
.menu-fixed ul{
	list-style:none;
}
.menus > li{
	/*position: relative;*/
	display: inline-block;
}
.contenedor3 {
    width:50%;
	max-width:400px;
	float:right;
}

.menus >li > a{
	display:block;
	padding:20px;
	color:#fff;
	font-family: 'Open sans';
	text-decoration:none;
}

.menus li a:hover{
   background:#2980b9;
   transition: all 3.s;
}
.submenu{
	position: absolute;
	background: #7DCEA0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration:none;
}
.menus li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: #eee;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
}

input{
    border: solid 0;
    border-radius: 3px;
}

input[type=text], input[type=password]{
    padding: 10px;
    font-size: 18px;
    outline: none;
    width: 370px;
}
input[type=submit]{
    background-color: #1E69E3;
    color: white;
    padding: 8px;
    border: none;
    width: 200px;
}
.center{
    text-align: center;
}

.opcion{
    padding: 5px 0;
}

.barra{
    background-color:rgb(152, 196, 236);
    border-radius: 4px;
    padding: 10px;
}

.seleccionado{
    background-color: rgb(33, 90, 143);
    border-radius: 4px;
    color: white;
    padding: 10px;
}

#menu{
    background-color: #eee;
    padding: 10px;
}
#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    color: #1E69E3;
    text-decoration: none;
}
#menu ul li a:hover{
    color: rgb(227, 109, 30);
    text-decoration: none;
}
.cerrar-sesion{
    float: right;
}